@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 242 84 91;
        --color-secondary: 169 63 85;
        --color-background: 25 50 60;
        --color-text: 255 255 255
    }
}